body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  --color-1: rgb(38, 130, 215);
  --line-height: 2.5rem;
}
.custom-container {
  margin: 0 auto;
  max-width: 2000px;
}
/* Navbar */
.navbar-toggler {
  color: black !important ;
  border: none !important;
}
.navbar {
  background-color: white;
}
.navbar__logo {
  position: absolute;
  box-shadow: 8px 0px 6px rgba(0, 0, 0, 0.671);
  top: 0rem;
  left: 1rem;
  height: 6rem;
  cursor: pointer;
}
.nav-item {
  font-weight: bold;
  z-index: 2;
  text-align: center;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item a:hover {
  text-decoration: underline;
}
/* Banner */
.banner {
  position: relative;
}
.banner__image {
  width: 100%;
  height: 550px;
}
.banner__text {
  position: absolute;
  left: 150px;
  top: 320px;
  color: white;
}
.banner__text-header {
  color: var(--color-1);
  font-size: 40px;
  font-weight: bold;
}
.banner__text-btn {
  padding: 0.3rem 0.7rem;
  color: white;
  background-color: var(--color-1);
  border: none;
  cursor: pointer;
}
.banner__text-btn:hover {
  text-decoration: underline;
}
/* Courses */
.courses__intro {
  padding: 2rem;
  text-align: center;
}
.courses__intro p {
  line-height: var(--line-height);
}
.courses__intro-heading {
  font-weight: bold;
  margin-top: 2rem;
}
.courses__items {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.courses__item {
  display: flex;
}
.courses__item-computer-icon {
  height: 2rem;
}
.courses__item__details {
  padding-left: 1rem;
  line-height: 1.8rem;
}

/* Students */
.students {
  padding: 2rem 3rem;
  background-color: var(--color-1);
  color: white;
}
.students__intro {
  text-align: center;
}
.students__details {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.students__details-img {
  width: 350%;
}
.students__details p {
  margin: 2rem;
  max-height: 26vw;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  line-height: var(--line-height);
}

/* Footer */
.footer {
  margin-top: 3rem;
  padding: 1rem 2rem 0rem 2rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__followus {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer__followus-icon {
  height: 1.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .students__details p {
    margin: 1.5rem 0.5rem;
    max-height: 250px;
    overflow: hidden;
  }
  .banner__text {
    left: 4rem;
    top: 10rem;
  }
  .banner__image {
    width: 100%;
    height: 22rem;
  }
}
@media only screen and (max-width: 767px) {
  /* Nabvar */
  .navbar__logo {
    /* left: 4rem; */
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .navbar-icon {
    width: 2rem;
    padding: 0.5em 0.1rem;
  }
  .navbar-collapse {
    margin-top: 1.5rem;
    background-color: var(--color-1);
    z-index: 10;
  }
  .navbar-home {
    background-color: rgb(229, 229, 226);
  }
  .navbar-home .nav-link {
    color: black !important;
  }
  .nav-link {
    color: white !important;
  }
  .nav-item {
    padding: 0.3rem;
  }
  .nav-item:hover {
    background-color: rgb(229, 229, 226);
  }
  .nav-link:hover {
    color: black !important;
  }
  /* Banner  */
  .banner__image {
    width: 100%;
    height: 15rem;
  }
  .banner__text {
    left: 4rem;
    top: 5rem;
  }
  .banner__text-header {
    font-size: 24px;
  }
  /* Course  */
  .courses {
    text-align: center;
    padding: 1rem;
  }
  .courses__items {
    display: block;
    padding: 0;
  }
  .courses__item-computer-icon {
    display: block;
    margin: 0 auto;
  }
  .courses__item h4 {
    text-align: center;
  }
  .courses__item {
    display: block;
    padding: 1rem 0rem;
  }
  .courses__intro {
    padding: 0rem;
  }
  .courses__intro-heading {
    margin-top: 1rem;
    text-align: center;
  }
  .courses__intro p {
    display: none;
  }
  .courses__item__details {
    padding-left: 0rem;
  }
  .course__item-header {
    font-weight: bold !important;
  }
  /* Students */
  .students {
    text-align: center;
    padding: 2rem 1.5rem;
  }
  .students__details {
    margin-top: 2.5rem;
    display: block;
  }
  .students__details p {
    max-height: 200px;
    margin: 2rem 0.5rem;
    line-height: 2rem;
  }
  .students__details-img {
    width: 100%;
    height: auto;
  }

  /* Footer */
  .footer {
    margin-top: 3rem;
    padding: 1.2rem;
    display: block;
    text-align: center;
  }
  .footer__followus {
    display: block;
  }
  .footer__followus-icons {
    display: block;
  }
  .footer__followus-icon {
    height: 1.5rem;
  }
}
