body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
}
/* Navbar */
.navbar {
  padding: 0.5rem 1rem !important;
  background-color: white;
  color: black;
}
.navbar__logo {
  position: absolute;
  top: 0rem;
  left: 1rem;
  height: 6rem;
  z-index: 2;
  cursor: pointer;
}
.navbar__logo:hover {
  transform: translateY(4px);
  transition: 0.2s;
}
.nav-item {
  z-index: 2;
  text-align: center !important;
}
.nav-link {
  /* font-weight: bold; */
}
.navbar-nav {
  margin-left: auto;
}
.navbar-toggler {
  color: black !important ;
}
.nav-item a:hover {
  transform: translateY(3px);
  color: black !important;
  text-decoration: underline;
  transition: 0.2s;
}
/* Banner */
.banner {
  position: relative;
}
.banner__image {
  width: 100%;
}
.banner__text {
  position: absolute;
  left: 8rem;
  top: 18vw;
  color: white;
}
.banner__text-header {
  color: rgb(69, 158, 241);
  font-size: 40px;
  font-weight: bold;
}
.banner__text-btn {
  padding: 0.5rem 0.7rem;
  color: white;
  background-color: rgb(69, 158, 241);
  border: none;
  cursor: pointer;
}
.banner__text-btn:hover {
  transform: translateY(3px);
  text-decoration: underline;
  transition: 0.2s;
}
/* Courses */
.courses__items {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}
.courses__item {
  padding: 0.7rem;
  display: flex;
}
.courses__intro {
  padding: 2rem;
}
.courses__intro-heading {
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}
.courses__item-computer-icon {
  height: 2rem;
}
.courses__item__details {
  padding-left: 1rem;
}

/* Students */
.students {
  padding: 2rem 3rem;
  background-color: rgb(69, 158, 241);
  color: white;
}
.students__intro {
  text-align: center;
}
.students__details-img {
  height: 30vw;
}
.students__details {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

/* Footer */
.footer {
  margin-top: 3rem;
  padding: 1rem 2rem 0rem 2rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__followus {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer__followus-icon {
  height: 1.5rem;
  cursor: pointer;
}
.footer__followus-icon:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}
/* Responsive */
@media only screen and (max-width: 1300px) {
  .banner__text {
    position: absolute;
    /* left: 10rem; */
    top: 15vw;
    color: white;
  }
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .banner__text {
    position: absolute;
    left: 4rem;
    top: 10rem;
    color: white;
  }
  .banner__image {
    width: 100%;
    height: 22rem;
  }
}
@media only screen and (max-width: 767px) {
  /* Nabvar */

  .navbar {
    padding: 0.5rem 0 !important;
    background-color: rgb(69, 158, 241);
  }
  .navbar-home {
    background-color: rgb(229, 229, 226);
  }
  .navbar-home .nav-link {
    color: black !important;
  }
  .nav-link {
    color: white !important;
  }
  .nav-item {
    padding: 0.3rem;
  }
  .nav-item:hover {
    background-color: rgb(229, 229, 226);
  }
  /* Banner  */
  .banner__image {
    width: 100%;
    height: 14rem;
  }
  .banner__text-header {
    font-size: 25px;
  }
  .banner__text {
    position: absolute;
    left: 4rem;
    top: 5rem;
    color: white;
  }
  .banner__text-btn {
    /* display: none; */
  }
  .banner__text-header {
    font-size: 20px;
  }
  /* Course  */
  .courses {
    text-align: center;
    padding: 1rem;
  }
  .courses__items {
    display: block;
    padding: 0;
  }
  .courses__item-computer-icon {
    display: block;
    margin: 0 auto;
  }
  .courses__item h4 {
    text-align: center;
  }
  .courses__item {
    display: block;
    padding: 1.2rem 0rem;
  }
  .courses__intro {
    padding: 1rem 1.5rem;
  }
  .courses__intro-heading {
    margin-top: 0;
    text-align: center;
  }
  .courses__intro p {
    /* visibility: hidden; */
    display: none;
  }
  .courses__item__details {
    padding-left: 0rem;
  }
  .course__item-header {
    font-weight: bold !important;
  }
  /* Students */
  .students {
    text-align: center;
    padding: 2rem 1.5rem;
  }
  .students__details-img {
    width: 100%;
    height: auto;
  }
  .students__details {
    margin-top: 2.5rem;
    display: block;
  }

  /* Footer */
  .footer {
    margin-top: 3rem;
    padding: 1.2rem;
    display: block;
    text-align: center;
  }
  .footer__followus {
    display: block;
  }
  .footer__followus-icons {
    display: block;
  }
  .footer__followus-icon {
    height: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .navbar__logo {
    left: 4rem;
  }
}
@media only screen and (max-width: 300px) {
  .navbar__logo {
    left: 2rem;
  }
}
